<template>
    <div>
        <ul v-for="(image, index) in images" :key="image.id">
           <li> 
               <div class="form-group  col-md-12 ">
                    <label class="control-label" for="name">Avatar</label>
                    <img  id="imageproduct" alt="" style="width:100px;height: 100px; border-radius: 100%">
                    <input type="file" accept="image/*" class="form-control" @change="onImageChange($event,index)" :name="'image['+index+'][image]'" id="">
                </div>
                <input type="hidden" class="form-control" :name="'image['+index+'][id]'" id="" v-model="image.id">
            </li>
            <button type="button" class="btn btn-info btn-sm" data-toggle="modal" @click="deleteEvent(index)"> delete </button>
        </ul>
        <button type="button" @click="add()" name="" id="add" class="btn btn-primary btn-lg btn-block"> add new Image </button>
    </div>
</template>

<script>
    export default {
        data: function() {
            return {
                images: [],
                deleted: [],
            }
        },
        methods: {
            add() {
                let image = {
                    id: null,
                    image: null,
                    product_id: null
                };
                this.images.push(image);
                if(this.images.length == 5){
                    document.getElementById('add').style.display = 'none';
                }
            },
            onImageChange(event,index){
                this.images[index].image = event.target.files[0];
            },
            deleteEvent: function(index) {
                if(this.images[index].id != null) {
                    this.deleted.push(this.images[index].id);
                }
                this.$delete(this.images,index);
                if(this.images.length < 5) {
                    document.getElementById('add').style.display = 'block';
                }
                
            },
            
        },
    }
</script>
