<template>
     <div class="container">

        <div class="row" v-for="(detael, index) in deteals" :key="index">
            <input type="hidden" class="form-control" :value="detael.id" name="ids[]">
            <div class="form-group">
                <label>اسم النتج</label>
                <input type="text" class="form-control" :value="detael.prodName " name="product_name[]" placeholder="اسم المنتج">
            </div>
            <div class="form-group">
              <label> تفاصيل المنتج </label>
              <textarea class="form-control"  :value=" detael.prodDesc " name="product_desc[]" rows="3"></textarea>
            </div>
            <div class="row">
                <div class="col-md-10">
                <label>   التصنيف     </label>
                    <select @change="updateUnitName($event, detael.subId+index)" class="form-control" name="product_sub[]" id="">
                        <option  v-for="(sub, index) in subs" :key="index" :value="sub.id" :selected="sub.id == detael.subId"> {{ sub.name }} </option>
                    </select>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label> الكميه  <span :id="detael.subId+index">({{ getNameFormSub(detael.subId) }})</span>       </label>
                        <input class="form-control" min="1" type="number" name="product_qunt[]" id="" :value="detael.qunt">
                        </input> 
                    </div>
                </div>
            </div>
            <button type="button"  name="" @click="deleteDetel(index, detael.id)" class="btn btn-danger  btn-lg btn-block"> حذف</button>
        </div>

        <div class="row">
            <div class="form-group">
                <label>اسم النتج</label>
                <input type="text" class="form-control" v-model="prodName" placeholder="اسم المنتج">
                 <small id="passwordHelp"  class="text-danger">
                 <strong v-if="errorName"> 
                    اسم المنتج مطلوب
                    </strong> 
                 </small>      
            </div>
            <div class="form-group">
              <label> تفاصيل المنتج </label>
              <textarea class="form-control"  v-model="prodDesc" rows="3"></textarea>
              <small id="passwordHelp"  class="text-danger">
                   <strong v-if="errorDeteals"> يرجا ادخال تفاصيل المنتج
                   </strong>
               </small>  
            </div>
            <div class="row">
                <div class="col-md-10">
                    <div class="form-group">
                    <label> تصنيف المنتج </label>
                    <select @change="setUpUnitName($event)" class="form-control" name="product_sub[]" id="" v-model="subId">
                        <option  v-for="(sub, index) in subs" :key="index" :value="sub.id" > {{ sub.name }} </option>
                    </select>
                    <small id="passwordHelp"  class="text-danger">
                        <strong v-if="errorSub"> 
                    يرجا اختيار تصنيف متوقع للمنتج
                    </strong> 
                    </small>  
                </div>
            </div>
                
                <div class="col-md-2">
                <div class="form-group">
                    <label>   الكميه ({{ quntName }})    </label>
                    <input class="form-control" min="1" type="number" name="product_qunt[]" id="" v-model="qunt">
                    </input>
                    <small id="passwordHelp"  class="text-danger">
                        <strong v-if="errorSub"> 
                    يرجا اختيار تصنيف متوقع للمنتج
                    </strong> 
                    </small>  
                </div>
                </div>
            </div>
            
            <div v-for="(delet, index) in deleteDetels" :key="index">
               <input type="text" style="display:none" name="del[]" v-model="deleteDetels[index]">
            </div>
            <button type="button"  name="" @click="addNewDetaels()" class="btn btn-primary btn-lg btn-block"> اضافه تفصيل جديد</button>
        </div>
    </div>
</template>
<script>
    export default {  
        data: function() {
            return {
                deteals: [],
                prodName: '',
                prodDesc: '',
                subId: '',
                qunt: 1,
                quntName: '',
                deleteDetels: [],
                errorName: false,
                errorDeteals: false,
                errorSub: false
            }
        },
        methods: {
            setUpUnitName: function(event) {
                this.quntName = this.getNameFormSub(event.target.value);
                console.log(this.quntName);
            },
            getNameFormSub: function(id) {
                return this.subs.filter(sub => sub.id > id)[0].unit_name;

            },
            updateUnitName(event, id) {
                document.getElementById(id+"").innerHTML = this.getNameFormSub(event.target.value);
            },
            clear: function() {
                this.prodName = '';
                this.prodDesc = '';
                this.subId    = '';
                this.errorName = false;
                this.errorDeteals = false;
                this.errorSub = false;
                this.qunt = 1;
                this.quntName = "";

            },
            addNewDetaels: function() {
                if(this.prodName && this.prodDesc && this.subId) {
                    this.deteals.push({id: -1,prodName: this.prodName, prodDesc: this.prodDesc, subId: this.subId, qunt:  this.qunt});
                    console.log(this.deteals);
                    this.clear();
                }
                else {
                    if(!this.prodName) {
                        this.errorName = true;
                    } else {this.errorName = false;}

                    if(!this.prodDesc) {
                        this.errorDeteals = true;
                    } else {  this.errorDeteals = false; }

                    if(!this.subId) {
                        this.errorSub = true;
                    } else {  this.errorSub = false; }
                }
            },
            deleteDetel(index, id) {
                if(id != -1) {
                    this.deleteDetels.push(id);
                }
                this.deteals.splice(index, 1);
            },
            insertOldDeteals() {
                console.log(this.det);
                for(var i=0;i<this.det.length;i++) {
                    this.deteals.push({id: this.det[i].id, prodName: this.det[i].name, prodDesc: this.det[i].desc, subId: this.det[i].sub_category_id , qunt:this.det[i].quantity});
                }
            }
        },
        created: function () {
           this.insertOldDeteals();

        },
        props: ['subs', 'det']
    }
</script>