<template>
    <div>
        <ul v-for="(sub, index) in subCategories" :key="index">
           <li> 
                <input type="text" class="form-control" name="subs[]"  aria-describedby="helpId" :value="sub.sub">
                <input type="hidden" class="form-control" name="subIds[]"  aria-describedby="helpId" :value="sub.id">
                <select class="form-control" name="unit_ids[]" id="">
                    <option  v-for="(unit, index) in units" :key="index" :value="unit.id" :selected="unit.id == sub.unitId"> {{ unit.title }} </option>
                </select>
            </li>
            <button type="button" class="btn  btn-sm btn-danger" data-toggle="modal" @click="deleteSub(index)"> delete </button>
        </ul>
        
        <div class="form-group">
            <label for="">sub Category</label>
            <input type="text"
                class="form-control" v-model="SubCategory" name="" aria-describedby="helpId" placeholder="sub Category">
            
        </div>

        <div class="form-group">
             <label for="">units</label>
            <select class="form-control" name="unit_ids[]" id="" v-model="unitId">
                <option  v-for="(unit, index) in units" :key="index" :value="unit.id" > {{ unit.title }} </option>
            </select>
        </div>

        <div v-for="(delet, index) in deleted" :key="index">
            <input type="hidden" name="delll[]" v-model="deleted[index]">
        </div>
        <button type="button" @click="addSub()" name="" class="btn btn-primary btn-lg btn-block"> add new Sub Category </button>    
        
    </div>
</template>

<script>
    export default {
        data() {
            return {
                newSub: true,
                SubCategory: '',
                subCategories: [],
                unitId: '',
                deleted: [],
                units: []
            }
        },
        mounted() {
            this.units = JSON.parse(this.un);
            var subCat = JSON.parse(this.na);
            console.log(subCat);
            for(var i=0;i<subCat.length;i++) {
                this.subCategories.push({sub: subCat[i].name, id: subCat[i].id, newSub: !this.newSub,  unitId: subCat[i].unit_id});
            }
        },
        methods: {
            getAllSub() {
                
            },
            addSub() {
                if(this.SubCategory.length !== 0) {
                    console.log(this.unitId);
                    this.subCategories.push({sub: this.SubCategory, id: -1, newSub: this.newSub, unitId: this.unitId});
                    this.SubCategory = '';
                    this.unitId = '';
                }
                console.log(this.subCategories);
                console.log(this.units);
            },
            deleteSub(index) {
                if(this.subCategories[index].newSub == !this.newSub){
                    this.deleted.push(this.subCategories[index].id);
                }
                this.subCategories.splice(index, 1);
            }
        },
        props:['na', 'un']
    }
</script>
